 #header {
	background: url("imgs/pattern_header4.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 }

.display-3{
	font-family: 'Kalam', cursive;
	color: #FFFF58;
}

.lead {
	color: white;
}

/* GOOGLE FONTS:
font-family: 'Kalam', cursive;
*/